<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>GIBSON Les Paul Standard</title>
    <link rel="stylesheet" href="../../../styles/style.css">
</head>
<body>
    <div class="menu">
       <ul>
           <li><a href="../../../index.html">Главная</a></li>
           <li><a href="../../catalog.html">Каталог</a></li>
           <li><a href="../../contacts.html">Контакты</a></li>   
       </ul>
    </div>
    <hr>   
    <h1>Gibson Les Paul Standard</h1>
    <a href="../../../img/catalog/guitars/gibson.jpg" target="_blank"><img src="../../../img/catalog/guitars/gibson.jpg" class="photo" width="500" height="500" title="gibson" alt="gibson"></a>
    <div>
        <h2 class="headlines">Описание товара</h2>
        <p class="about_1">Величайшая гитара для получения истинного удовольствия для слуха, рук, глаз и прочих чатсей тела. Всегда хотел такую.</p>   
    </div>
    <div>
        <h2 class="headlines">Характеристики товара</h2>
        <ul class="char">
            <li>Количество ладов (диапазон): 22</li> 
            <li>Количество струн: 6</li>
            <li>Конфигурация звукоснимателей: hh</li>
            <li>Крепление грифа: вклеенный</li>
            <li>Материал грифа: махагони</li>
            <li>Материал корпуса: махагони</li>
            <li>Материал накладки грифа: палисандр</li>
            <li>Материал топа: клен</li>
            <li>Мензура (в дюймах): 24.75</li>
            <li>Ориентация: правосторонняя</li>
            <li>Тип: цельнокорпусная</li>
            <li>Тип корпуса: les paul</li>
            <li>Тремоло/Бридж: tune-o-mati</li>
            <li>Цвет: санберст </li>
            <li>Чехол/Кейс: кейс</li>
        </ul>
    </div>
    <div>
        <h2 class="headlines">Подробное описание товара</h2>
        <p class="about_2">Мощно делает дж-дж. Все девочки текут, все мальчики ссут. Сучки будут наказаны!</p>
    </div>
    <hr>
    <div class="footer">
        &copy; Все права защищены Федором
    </div>
</body>
</html>