<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GIBSON Les Paul Standard</title>
    <link rel="stylesheet" href="../../../styles/style.css">
</head>
<body>
<!--Start header-->
    <div class="header">
        <a href="../../../index.html" class="logo"></a>
        <div class="menu">
            <ul class="menu_1">
                <li><a href="../../../index.html">Главная</a></li>
                <li><a href="../../catalog.html">Каталог</a></li>
                <li><a href="../../contacts.html">Контакты</a>
                    <ul class="contacts">
                        <li><a href="../../contacts.html#anketa">Анкета</a></li>
                        <li><a href="../../contacts.html#adress">Карта</a></li>
                    </ul>
                </li>  
            </ul>
        </div>
        <div class="phone_block">
            <a href="tel:+66666666666" class="number">+6(666)666-66-66</a>
            <a href="" class="button_phone">заказать обратный звонок</a>
        </div>
    </div>
<!--Stop header-->

<!--Start main-->
    <div class="main"> 
        <ol class="breadcrb">
            <li><a href="../../../index.html">Главная</a></li>
            <li><a href="../../catalog.html">Каталог</a></li>
            <li><span>GIBSON Les Paul Standard</span></li>
        </ol> 
        <h1>Gibson Les Paul Standard</h1>
        <div class="guitar">
            <a href="../../../img/catalog/guitars/gibson.jpg" target="_blank" class="goods"><img src="../../../img/catalog/guitars/gibson.jpg" class="photo" width="500" height="500" title="gibson" alt="gibson"></a>
            <div class="about_block">
                <h2 class="headlines">Описание товара</h2>
                <p class="about_1">Величайшая гитара для получения истинного удовольствия для слуха, рук, глаз и прочих чатсей тела. Всегда хотел такую.</p> 
                <form>
                    <input type="button" name="">
                </form>  
            </div>
        </div>
        <div class="goods_char">
            <h2 class="headlines">Характеристики товара</h2>
            <ul class="char">
                <li>Количество ладов (диапазон): 22</li> 
                <li>Количество струн: 6</li>
                <li>Конфигурация звукоснимателей: hh</li>
                <li>Крепление грифа: вклеенный</li>
                <li>Материал грифа: махагони</li>
                <li>Материал корпуса: махагони</li>
                <li>Материал накладки грифа: палисандр</li>
                <li>Материал топа: клен</li>
                <li>Мензура (в дюймах): 24.75</li>
                <li>Ориентация: правосторонняя</li>
                <li>Тип: цельнокорпусная</li>
                <li>Тип корпуса: les paul</li>
                <li>Тремоло/Бридж: tune-o-mati</li>
                <li>Цвет: санберст </li>
                <li>Чехол/Кейс: кейс</li>
            </ul>
        </div>
        <div>
            <h2 class="headlines">Подробное описание товара</h2>
            <p class="about_2">Мощно делает дж-дж. Все девочки текут, все мальчики ссут. Сучки будут наказаны!</p>
        </div>
        <div>
            <h2 class="headlines">Модельный ряд</h2>
            <table>
                <thead>
                    <tr>
                        <th>Год выпуска</th>
                        <th>Цена</th>
                        <th>Цена по клубной карте</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2007</td>
                        <td>2000 &#36;</td>
                        <td>1800 &#36;</td>
                    </tr>
                    <tr>
                        <td>2011</td>
                        <td>1500 &#36;</td>
                        <td>1300 &#36;</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td colspan="2">3000 &#36;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
<!--Stop main-->

<!--Start footer-->
    <div class="footer">
        <p class="copy">&copy; Все права защищены Федором</p>
    </div>
<!--Stop footer-->
</body>
</html>