<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>IBANEZ Custom</title>
    <link rel="stylesheet" href="../../../styles/style.css">
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="../../../index.html">Главная</a></li>
            <li><a href="../../catalog.html">Каталог</a></li>
            <li><a href="../../contacts.html">Контакты</a></li>    
        </ul>
    </div>
    <hr>
    <h1>Ibanez Custom</h1>
    <a href="../../../img/catalog/guitars/ibanez.jpg" target="_blank"><img src="../../../img/catalog/guitars/ibanez.jpg" class="photo" width="500" height="500" title="ibanez" alt="ibanez"></a>
    <div>
        <h2 class="headlines">Описание товара</h2>
        <p class="about_1">Митольная гитара с брутальным окрасом. Под нее можно не только скримить но и гроулить.</p>
    </div>
    <div>
        <h2 class="headlines">Характеристики товара</h2>
        <ul class="char">
            <li>Количество ладов (диапазон): 24</li> 
            <li>Количество струн: 6</li>
            <li>Конфигурация звукоснимателей: hh</li>
            <li>Крепление грифа: на болтах</li>
            <li>Материал грифа: клен</li>
            <li>Материал корпуса: ньятон</li>
            <li>Материал накладки грифа: джатоб</li>
            <li>Материал топа: ясень</li>
            <li>Мензура (в дюймах): 25.5</li>
            <li>Ориентация: правосторонняя</li>
            <li>Тип: цельнокорпусная</li>
            <li>Тип корпуса: stratocaster</li>
            <li>Тремоло/Бридж: тремоло</li>
            <li>Цвет: brutal</li>
            <li>Чехол/Кейс: кейс</li>
        </ul>
    </div>
    <div>
        <h2 class="headlines">Подробное описание товара</h2>
        <p class="about_2">Обблеваные обрыганшы будут облизывать гриф этой гитары у вас в руках</p>
    </div>
    <hr>
    <div class="footer">
        &copy; Все права защищены Федором
    </div>
</body>
</html>