<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>JACKSON Bengal Tiger</title>
        <link rel="stylesheet" href="../../../styles/style.css">
    </head>
    <body>
        <div class="conteiner">
            <div class="header">
                <a href="../../../index.html" class="logo"></a>
                <div class="menu">
                    <ul class="menu_1">
                    <li><a href="../../../index.html">Главная</a></li>
                    <li><a href="../../catalog.html">Каталог</a></li>
                    <li><a href="../../contacts.html">Контакты</a>
                        <ul class="contacts">
                            <li><a href="../../contacts.html#anketa">Анкета</a></li>
                            <li><a href="../../contacts.html#adress">Карта</a></li>
                        </ul>
                    </li>  
                    </ul>
                </div>
            </div>
                <div class="main">
                <h1>Jackson Bengal Tiger</h1>
                <a href="../../../img/catalog/guitars/jackson.jpg" target="_blank" class="goods"><img src="../../../img/catalog/guitars/jackson.jpg" class="photo" width="500" height="500" title="jackson" alt="jackson"></a>
                <div>
                    <h2 class="headlines">Описание товара</h2>
                    <p class="about_1">Мощнейшая гитара с тигриным окрасом. Если вы любите колготки тени, губную помаду и лак для волос - этот экземпляр точно для вас.</p>
                    <form>
                        <input type="button" name="">
                    </form>  
                </div>
                <div class="goods_char">
                    <h2 class="headlines">Характеристики товара</h2>
                    <ul class="char">
                        <li>Количество ладов (диапазон): 24</li> 
                        <li>Количество струн: 6</li>
                        <li>Конфигурация звукоснимателей: hh</li>
                        <li>Крепление грифа: на болтах</li>
                        <li>Материал грифа: клен</li>
                        <li>Материал корпуса: тополь</li>
                        <li>Материал накладки грифа: амарант</li>
                        <li>Материал топа: тополь</li>
                        <li>Мензура (в дюймах): 25.5</li>
                        <li>Ориентация: правосторонняя</li>
                        <li>Тип: цельнокорпусная</li>
                        <li>Тип корпуса: stratocaster</li>
                        <li>Тремоло/Бридж: тремоло</li>
                        <li>Цвет: bengal tiger </li>
                        <li>Чехол/Кейс: кейс</li>
                    </ul>
                </div>
                <div>
                    <h2 class="headlines">Подробное описание товара</h2>
                    <p class="about_2">Сучки любят ее тигриный рев!</p>
                </div>
                <div class="goods_char">
                    <h2 class="headlines">Модельный ряд</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Год выпуска</th>
                                <th>Цена</th>
                                <th>Цена по клубной карте</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2007</td>
                                <td>2000 &#36;</td>
                                <td>1800 &#36;</td>
                            </tr>
                            <tr>
                                <td>2011</td>
                                <td>1500 &#36;</td>
                                <td>1300 &#36;</td>
                            </tr>
                            <tr>
                                <td>2022</td>
                                <td colspan="2">3000 &#36;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer">
                <p class="copy">&copy; Все права защищены Федором</p>
            </div>
        </div>
    </body>
</html>