<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Каталог</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>
        <div class="header">
            <div class="logo"></div>
            <div class="menu">
                <ul>
                    <li><a href="../index.html">Главная</a></li>
                    <li><a href="../templates/catalog.html">Каталог</a></li>
                    <li><a href="../templates/contacts.html">Контакты</a></li>  
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <a href="catalog/guitars/gibson.html"><img src="../img/catalog/guitars/gibson.jpg" width="300" height="300" title="gibson" alt="gibson"><br>GIBSON Les Paul Standard</a>
        </div>
        <div>
            <a href="catalog/guitars/jackson.html"><img src="../img/catalog/guitars/jackson.jpg" width="300" height="300" title="jackson" alt="jackson"><br>JACKSON Bengal Tiger</a>
        </div>
        <div>
            <a href="catalog/guitars/ibanez.html"><img src="../img/catalog/guitars/ibanez.jpg" width="300" height="300" title="ibanez" alt="ibanez"><br>IBANEZ Custom</a>
        </div>
        <hr>
        <div class="footer">
            &copy; Все права защищены Федором
        </div>
    </body>
</html>