<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<!--Start header-->
    <div class="header">
        <a href="../index.html" class="logo"></a>
        <div class="menu">
            <ul class="menu_1">
                <li><a href="../index.html">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li class="menu_2"><a href="../templates/contacts.html">Контакты</a>
                    <ul class="contacts">
                        <li><a href="../templates/contacts.html#anketa">Анкета</a></li>
                        <li><a href="../templates/contacts.html#adress">Карта</a></li>
                    </ul>
                </li>  
            </ul>
        </div>
        <div class="phone_block">
            <a href="tel:+66666666666" class="number">+6(666)666-66-66</a>
            <a href="" class="button_phone">заказать обратный звонок</a>
        </div>
    </div>
<!--Stop header-->

<!--Start main-->
    <div class="main">
        <ol class="breadcrb">
            <li><a href="../index.html">Главная</a></li>
            <li><span>Каталог</span></li>
        </ol>
        <div class="catalog">
            <div class="catalog_good">
                <a href="catalog/guitars/gibson.html"><img src="../img/catalog/guitars/gibson.jpg" width="300" height="300" title="gibson" alt="gibson"><br>GIBSON Les Paul Standard</a>
            </div>
            <div class="catalog_good">
                <a href="catalog/guitars/jackson.html"><img src="../img/catalog/guitars/jackson.jpg" width="300" height="300" title="jackson" alt="jackson"><br>JACKSON Bengal Tiger</a>
            </div>
            <div class="catalog_good">
                <a href="catalog/guitars/ibanez.html"><img src="../img/catalog/guitars/ibanez.jpg" width="300" height="300" title="ibanez" alt="ibanez"><br>IBANEZ Custom</a>
            </div>
            <div class="catalog_good">
                <a href="catalog/guitars/gibson.html"><img src="../img/catalog/guitars/gibson.jpg" width="300" height="300" title="gibson" alt="gibson"><br>GIBSON Les Paul Standard</a>
            </div>
            <div class="catalog_good">
                <a href="catalog/guitars/jackson.html"><img src="../img/catalog/guitars/jackson.jpg" width="300" height="300" title="jackson" alt="jackson"><br>JACKSON Bengal Tiger</a>
            </div>
            <div class="catalog_good">
                <a href="catalog/guitars/ibanez.html"><img src="../img/catalog/guitars/ibanez.jpg" width="300" height="300" title="ibanez" alt="ibanez"><br>IBANEZ Custom</a>
            </div>
        </div>
    </div>
<!--Stop main-->

<!--Start footer-->
    <div class="footer">
        <p class="copy">&copy; Все права защищены Федором</p>
    </div>
<!--Stop footer-->
</body>
</html>