body {
    background-color:#f8f8f8;
}

.menu a {
    text-decoration: none !important;
    color: dimgrey !important;
    font-size: 30px !important;
    font-family: "Bradley Hand", "Arial" !important;
    font-style: italic !important;
}

.menu a:hover {
    color:black;
}

.menu li {
    list-style-type: none;
}

.headlines {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color:#eaeaea;
}

.about_1 {
    color:#707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.about_2 {
    color:#484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.char {
    color:#393939;
    font-size: 17px;
    font-weight: 500;
    font-style:oblique;
    line-height: 24px;
    list-style-image: url(../img/marker.png);
}

textarea {
    width: 500px;
    height: 200px;
    color:grey;
    font-size:15px;
    font-family: "Comic Sans MS", "Arial";
    text-transform:capitalize;
}

.feedback input {
    width: 250px;
    height: 20px;
    color:grey;
    font-size:15px;
    font-family: "Comic Sans MS", "Arial";
   
}

.feedback input[type="email"] {
    color:black;  
}

.feedback input[type="email"]:focus {
    background-color:darkgrey;  
}

.feedback input[type="text"] {
    text-transform: capitalize;
}


h1 {
    color:dimgrey;
    text-align: center;
    font-size: 55px;
    font-family: "Bradley Hand", "Arial";
    font-style:oblique;
}

.photo {
    border: 2px grey solid;
}

.photo:hover {
    border: 2px #f8f8f8 solid;
}

table {
    border: 1px grey solid;
    border-spacing: 0;
}

table td, table th {
    width: 25%;
    height: 30px;
    border: 1px grey solid;
    text-align: center;
    color:#393939;
    font-style:oblique;
}

table th {
    height: 40px;
}

.about_2:first-letter, .about_1:first-letter {
    font-family: "Bradley Hand", "Arial";
    font-size: 35px;
    color: black;
}

a:link {
    color:grey;
}

a:visited {
    color:black;
}




